NEXT_PUBLIC_SITE_URL=https://stopmeasurez.com
NEXT_PUBLIC_COMMITTEE_NAME=[COMMITTEE LEGAL NAME]
NEXT_PUBLIC_FPPC_ID=#________
NEXT_PUBLIC_STRIPE_DONATE_URL=https://donate.stripe.com/TODO
NEXT_PUBLIC_TREASURER_EMAIL=[TREASURER_EMAIL]
NEXT_PUBLIC_PRESS_EMAIL=[PRESS_EMAIL]
NEXT_PUBLIC_NETFILE_URL=https://netfile.com/Connect2/api/public
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
FORM_ENDPOINT=
SHEETS_WEBHOOK_SECRET=
