NEXT_PUBLIC_SITE_URL=https://stopmeasurez.com
NEXT_PUBLIC_COMMITTEE_NAME=Keep Berkeley Money in Berkeley, No on Measure Z
NEXT_PUBLIC_FPPC_ID=#Pending
NEXT_PUBLIC_CAMPAIGN_EMAIL=campaign@stopmeasurez.com
NEXT_PUBLIC_TREASURER_EMAIL=campaign@stopmeasurez.com
NEXT_PUBLIC_PRESS_EMAIL=campaign@stopmeasurez.com
NEXT_PUBLIC_NETFILE_URL=https://netfile.com/Connect2/api/public
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
FORM_ENDPOINT=
SHEETS_WEBHOOK_SECRET=
